@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #000;
}

.heart {
  color: red;
}

h2 {
  font-family: "Proza Libre", sans-serif;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 var(--spacing-3);
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url(./images/Scene-24.jpg);
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) 0;
}

.navigation-items {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.navigation-item {
  margin: var(--spacing-1);
}

.portrait {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: auto;
  flex-shrink: 0;
}

.about-me-container {
  display: flex;
}

.about-me-text-container {
  margin-right: var(--spacing-3);
}

.project-image {
  width: 50%;
}

.project-title h3 {
  display: inline;
}

details {
  cursor: pointer;
}


footer {
  margin-top: auto;
  padding: var(--spacing-2) 0;
  text-align: center;
}

section {
  padding: var(--spacing-3) 0;
}

.icon {
  font-size: 2em;
  color: var(--font-color);
  margin: 0 var(--spacing-1);
}

a {
  color:var(--font-color);
  text-decoration: none;
  font-weight: 600;
}
.contacts a{
  color: black;
  margin-bottom: 2em;
}
.contact{
  color: black;
display: flex;
min-width: 90px;
}
footer{
  color: black;
}


#logo {
  margin: 0;
  color:var(--font-color);
}

#skills-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-container > * {
  font-size: 2em;
  width: 2em;
  margin-top: var(--spacing-1);
}

@media only screen and (max-width: 400px) {
  .about-me-container {
    flex-direction: column;
  }

  @media only screen and (max-width: 768px) {
    .navigation-items {
      display: none;
      position: absolute;
      top: 4rem;
      left: 0;
      right: 0;
      padding: 1rem;
      background-color: #333;
    }
    .navigation-item {
      display: block;
      margin: 1rem 0;
    }
    
   }

@keyframes heartBeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

#social 
  .fab.fa-linkedin {
  animation: heartBeat 2s infinite;
}
.fab.fa-github.icon {
  animation: heartBeat 2s infinite;
}
.fas.fa-envelope-square{
  animation: heartBeat 2s infinite;
}




